* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Bebas Neue', serif;
    font-size: 16px;
    --shadows: 0px 1px 4px rgba(0, 0, 0, 0.16);
    --background-color: #CEEFDD;
    --button-width: 120px;
    --global-border-radius: 12px;
    --content-font-size: 1.5rem;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.header {
    padding: 25px;
}

.header h1 {
    font-size: 5rem;
    text-align: center;
}

.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-select-screen {
    width: 400px;
    padding: 20px;
    background-color: white;
    font-size: var(--content-font-size);
    border-radius: var(--global-border-radius);
    box-shadow: var(--shadows);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.player-select-screen button {
    font: inherit;
    width: var(--button-width);
    border: none;
    border-radius: var(--global-border-radius);
    padding: 10px 0;
    background-color: var(--background-color);
}

.player-select-screen button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.player-choice {
    display: flex;
    gap: 30px;
}

.player-choice button {
    background-color: #CEE0EF;
}

.game-content-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gameboard {
    height: 400px;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: var(--global-border-radius);
    box-shadow: var(--shadows);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.tile {
    border-right: 2px solid black;
}

.tile:nth-child(n + 4) {
    border-top: 2px solid black;
}

.tile:nth-child(3n) {
    border-right: none;
}

.tile:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.scoreboard {
    width: 400px;
    height: 100px;
    background-color: #CEE0EF;
    border-radius: var(--global-border-radius);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.scoreboard h2 {
    font-size: var(--content-font-size);
}

.scoreboard p {
    font-size: var(--content-font-size);
    margin-top: 1rem;
}

.game-content-screen button {
    font: inherit;
    font-size: var(--content-font-size);
    width: var(--button-width);
    background-color: #EFCED7;
    border: none;
    border-radius: var(--global-border-radius);
    padding: 10px 0;
}

.game-content-screen button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.hidden {
    display: none;
}

@media screen and (max-width: 500px) {
    .gameboard,
    .scoreboard,
    .player-select-screen {
        width: 350px;
    }
}